# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [8]:
import pandas as pd

file1_path = 'https://www.dropbox.com/scl/fi/g6pplumgkv78ee94h8ofb/file1.txt?rlkey=cdvctu41psgrz1yyvu9pl5nmd&st=lbdi2l3a&dl=1'
file2_path = 'https://www.dropbox.com/scl/fi/m8bbs3xxkphp2iaq1kdjh/file2.txt?rlkey=pljzmrbxnu8krzbt1bnm0b99a&st=u6yc0e2y&dl=1'
file3_path = 'https://www.dropbox.com/scl/fi/v51xrflqpy6qxt0uhtxsu/file3.txt?rlkey=k8i9m8dlwa0x1thoq2qevcp9o&st=uktuu4eg&dl=1'

file1 = pd.read_csv(file1_path)
file2 = pd.read_csv(file2_path)
file3 = pd.read_csv(file3_path)

combined_df = pd.concat([file1, file2, file3], ignore_index=True)

print(combined_df.head())

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount State Gender
0  Four-Door Car            2.704934   NaN    NaN
1  Four-Door Car         1131.464935   NaN    NaN
2   Two-Door Car          566.472247   NaN    NaN
3            SUV          529.881344   NaN    NaN
4  Four-Door Car           17.269323   NaN    NaN

In [9]:

combined_df = combined_df.drop_duplicates()

combined_df['GENDER'].fillna(combined_df['Gender'], inplace=True)
combined_df.drop(columns=['Gender'], inplace=True)

combined_df['State'].fillna(combined_df['ST'], inplace=True)
combined_df.drop(columns=['ST'], inplace=True)


combined_df['GENDER'].fillna('Unknown', inplace=True)
combined_df['Education'].fillna('Unknown', inplace=True)
combined_df['State'].fillna('Unknown', inplace=True)

combined_df['Customer Lifetime Value'] = combined_df['Customer Lifetime Value'].astype(str).str.replace('%', '').astype(float)
combined_df['Customer Lifetime Value'].fillna(combined_df['Customer Lifetime Value'].mean(), inplace=True)
combined_df['Income'].fillna(combined_df['Income'].mean(), inplace=True)
combined_df['Monthly Premium Auto'].fillna(combined_df['Monthly Premium Auto'].mean(), inplace=True)
combined_df['Total Claim Amount'].fillna(combined_df['Total Claim Amount'].mean(), inplace=True)

combined_df['Number of Open Complaints'] = combined_df['Number of Open Complaints'].replace({
    '1/0/00': 0, '1/1/00': 1, '1/2/00': 2, '1/3/00': 3, '1/4/00': 4, '1/5/00': 5
})
combined_df['Number of Open Complaints'] = combined_df['Number of Open Complaints'].fillna(0).astype(int)


combined_df['Monthly Premium Auto'] = combined_df['Monthly Premium Auto'].astype(int)


combined_df.columns = [col.strip().replace(' ', '_').lower() for col in combined_df.columns]


print(combined_df.head())

  customer   gender             education  customer_lifetime_value   income  \
0  RB50392  Unknown                Master             1.820715e+05      0.0
1  QZ44356        F              Bachelor             6.979536e+05      0.0
2  AI49188        F              Bachelor             1.288743e+06  48767.0
3  WW63253        M              Bachelor             7.645862e+05      0.0
4  GA49547        M  High School or Below             5.363077e+05  36357.0

   monthly_premium_auto  number_of_open_complaints     policy_type  \
0                  1000                          0   Personal Auto
1                    94                          0   Personal Auto
2                   108                          0   Personal Auto
3                   106                          0  Corporate Auto
4                    68                          0   Personal Auto

   vehicle_class  total_claim_amount       state
0  Four-Door Car            2.704934  Washington
1  Four-Door Car         1131.464935     Arizona
2   Two-Door Car          566.472247      Nevada
3            SUV          529.881344  California
4  Four-Door Car           17.269323  Washington

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [11]:
import pandas as pd

file1_path = 'https://www.dropbox.com/scl/fi/3i0uy8qrkt560bri4br21/file2.txt?rlkey=murrnoo0c69vulnjbslo3bpmd&st=wvy39fb2&dl=1'

df = pd.read_csv(file1_path)

print(df)

       unnamed:_0 customer       state  customer_lifetime_value response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877  California              6857.519928       No

       coverage education effective_to_date employmentstatus gender  ...  \
0         Basic   College        2011-02-18         Employed      M  ...
1         Basic   College        2011-01-18       Unemployed      F  ...
2         Basic  Bachelor        2011-02-10         Employed      M  ...
3      Extended   College        2011-01-11         Employed      M  ...
4       Premium  Bachelor        2011-01-17    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor        2011-01-19       Unemployed      F  ...
10906     Basic   College        2011-01-06         Employed      F  ...
10907  Extended  Bachelor        2011-02-06         Employed      F  ...
10908   Premium   College        2011-02-13         Employed      F  ...
10909     Basic  Bachelor        2011-01-08       Unemployed      M  ...

       number_of_policies     policy_type        policy  renew_offer_type  \
0                       9  Corporate Auto  Corporate L3            Offer3
1                       1   Personal Auto   Personal L3            Offer4
2                       2   Personal Auto   Personal L3            Offer3
3                       2  Corporate Auto  Corporate L3            Offer2
4                       7   Personal Auto   Personal L2            Offer1
...                   ...             ...           ...               ...
10905                   7   Personal Auto   Personal L1            Offer3
10906                   6   Personal Auto   Personal L3            Offer2
10907                   2  Corporate Auto  Corporate L3            Offer1
10908                   6   Personal Auto   Personal L1            Offer1
10909                   3   Personal Auto   Personal L1            Offer4

       sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0              Agent          292.800000  Four-Door Car       Medsize
1        Call Center          744.924331  Four-Door Car       Medsize
2        Call Center          480.000000            SUV       Medsize
3             Branch          484.013411  Four-Door Car       Medsize
4             Branch          707.925645  Four-Door Car       Medsize
...              ...                 ...            ...           ...
10905            Web         1214.400000     Luxury Car       Medsize
10906         Branch          273.018929  Four-Door Car       Medsize
10907            Web          381.306996     Luxury SUV       Medsize
10908         Branch          618.288849            SUV       Medsize
10909            Web         1021.719397            SUV       Medsize

      vehicle_type month
0                A     2
1                A     1
2                A     2
3                A     1
4                A     1
...            ...   ...
10905            A     1
10906            A     1
10907            A     2
10908            A     2
10909            A     1

[10910 rows x 27 columns]

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [12]:
df.columns = [col.strip().replace(' ', '_').lower() for col in df.columns]

pivot_total_revenue = df.pivot_table(
    values='total_claim_amount',
    index='sales_channel',
    aggfunc='sum'
).round(2)

print(pivot_total_revenue)

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [13]:
pivot_avg_clv = df.pivot_table(
    values='customer_lifetime_value',
    index='gender',
    columns='education',
    aggfunc='mean'
).round(2)

print(pivot_avg_clv)

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here